@font-face {
  font-family: 'Futura';
  src: url('../fonts/futur.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Futura', sans-serif;
}

body {
    background: transparent; /* Make it white if you need */
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
      
  }
  .verticalbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    height: 400px;
    /* align-content: space-between; */
    gap: 10px;
  }
  
  .App {
    color: #8adee9;
  }
  
  .box {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* width: 500px; */
    /* height: 400px; */
    /* align-content: space-between; */
    gap: 10px;
  }
  
  
  .verticalbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    height: 400px;
    /* align-content: space-between; */
    gap: 10px;
  }
  
  .custom {
    
    color: beige;
    width: 100px;
    height: 30px;
    border-radius: 15px;
  }
  h1 {
    font-size: 24px; /* Adjust this value as needed */
    font-weight: bold;
  }

  .next-buttons {
    
      background-color: red;; /* Button color */
      color: white; /* Text color */
      padding: 10px 20px; /* Adjust padding */
      border: none;
      border-radius: 5px; /* Rounded corners */
      font-size: 16px; /* Adjust font size */
      width: 150px; /* Adjust width */
      cursor: pointer; /* Change cursor on hover */
      position: absolute; /* Position absolutely within the .verticalbox container */
      top: 10px;
      right: 10px;
    
  }
  

 
  