@font-face {
  font-family: 'Futura';
  src: url('../fonts/futur.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Futura', sans-serif;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: white;
  color: #333;
  border-bottom: 2px solid black;
  position: relative; /* Needed for positioning child elements absolutely */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color:solid black; /* Needed for positioning child elements absolutely */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  color: solid black;
}

.header-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  max-width: 20%;
}

.button.red {
  background-color: red;
}

.login-button {
  position: absolute; /* Absolute positioning for the button */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  background-color: transparent;
  color: #0066FF;
  border: 1px solid #0066FF;
  padding: 10px 20px; /* Adjust padding to fit text */
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  max-width: 20%;
}

.login-button:hover {
  background-color: #0066FF;
  color: white;
}
