@font-face {
  font-family: 'Futura';
  src: url('../fonts/futur.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Futura', sans-serif;
}

.head {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.head-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 24px;
}

.brand-name {
  font-weight: bold; /* Makes text bold */
  font-size: 24px;
  color: red; /* Makes text red */
  margin-left: 10px;
}


.header-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  cursor: pointer;
}

.username, .settings, .notifications {
  margin: 0 10px;
  cursor: pointer;
}

.personalize-button {
  
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  max-width:10%;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #f0f0f0;
}
