.heead {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.news {
    color: black;
    font-weight: normal;
}

.search-bar-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    position: relative;
}

.search-bar {
    padding: 5px 10px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    width: 60%;
    font-size: 14px;
}

.search-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.right-section {
    display: flex;
    align-items: center;
}

.weather {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.weather-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.weather-info {
    font-size: 14px;
}

.theme-switch {
    display: flex;
    align-items: center;
}

.theme-switch span {
    margin-right: 5px;
    font-size: 14px;
}

.theme-switch button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    
    border-radius: 4px;
    cursor: pointer;
}

.theme-switch button:hover {
    background-color: #e2e6ea;
}
