.subcategory {
  background: #e0e0e0;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.subcategory:hover {
  background-color: #d0d0d0;
}
