@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
p {
  font-weight: 200;
  margin: 2% 0%;
}
#phone:hover {
  transform: rotate3d(-1, -1, 1, 20deg);
}
.iconStyle{ 
  border-top-left-radius: 20px;
  border-bottom-right-radius:30px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
#noti1{
  animation: appear .5s 1;
}
@keyframes appear {
  from{
    scale: -1;
  }
  to{
    scale: 1;
  }
  
}
.active {
  color: #f24137;
  background-color: #f2413721;
  box-shadow: 0px 5px 20px #00000018;
}